In [18]:
# Import required libraries
import pandas as pd

# Read the airline data into pandas dataframe
df =  pd.read_csv('airline_data.csv')
df.head()

,Unnamed: 0,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,...,Div4WheelsOff,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum
0,1295781,1998,2,4,2,4,1998-04-02,AS,19930,AS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1125375,2013,2,5,13,1,2013-05-13,EV,20366,EV,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,118824,1993,3,9,25,6,1993-09-25,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,634825,1994,4,11,12,6,1994-11-12,HP,19991,HP,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1888125,2017,3,8,17,4,2017-08-17,UA,19977,UA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27000 entries, 0 to 26999
Columns: 110 entries, Unnamed: 0 to Div5TailNum
dtypes: float64(74), int64(19), object(17)
memory usage: 22.7+ MB

In [20]:
df.columns

Index(['Unnamed: 0', 'Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek',
       'FlightDate', 'Reporting_Airline', 'DOT_ID_Reporting_Airline',
       'IATA_CODE_Reporting_Airline',
       ...
       'Div4WheelsOff', 'Div4TailNum', 'Div5Airport', 'Div5AirportID',
       'Div5AirportSeqID', 'Div5WheelsOn', 'Div5TotalGTime',
       'Div5LongestGTime', 'Div5WheelsOff', 'Div5TailNum'],
      dtype='object', length=110)

In [21]:
df.isnull().mean()

Unnamed: 0          0.0
Year                0.0
Quarter             0.0
Month               0.0
DayofMonth          0.0
                   ...
Div5WheelsOn        1.0
Div5TotalGTime      1.0
Div5LongestGTime    1.0
Div5WheelsOff       1.0
Div5TailNum         1.0
Length: 110, dtype: float64

In [26]:
df.drop(labels=['Unnamed: 0'], axis=1, inplace=True)

In [22]:
for col in df.columns:
    if df[col].isnull().mean() < 0.05 and df[col].isnull().mean() > 0:
        df.dropna(subset=[col], inplace=True)
    elif df[col].isnull().mean() > 0.5:
        df.drop(labels=[col], axis=1, inplace=True)

In [24]:
df.isnull().mean()[df.isnull().mean() > 0]

Tail_Number    0.191860
TaxiOut        0.191860
WheelsOff      0.191898
WheelsOn       0.191936
TaxiIn         0.191860
AirTime        0.191860
dtype: float64

In [28]:
df[df['Tail_Number'].isnull()][['Tail_Number', 'TaxiOut', 'WheelsOff', 'WheelsOn', 'TaxiIn', 'AirTime']].head()

   Tail_Number  TaxiOut  WheelsOff  WheelsOn  TaxiIn  AirTime
2          NaN      NaN        NaN       NaN     NaN      NaN
3          NaN      NaN        NaN       NaN     NaN      NaN
15         NaN      NaN        NaN       NaN     NaN      NaN
16         NaN      NaN        NaN       NaN     NaN      NaN
26         NaN      NaN        NaN       NaN     NaN      NaN

In [29]:
df.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
       'Reporting_Airline', 'DOT_ID_Reporting_Airline',
       'IATA_CODE_Reporting_Airline', 'Tail_Number',
       'Flight_Number_Reporting_Airline', 'OriginAirportID',
       'OriginAirportSeqID', 'OriginCityMarketID', 'Origin', 'OriginCityName',
       'OriginState', 'OriginStateFips', 'OriginStateName', 'OriginWac',
       'DestAirportID', 'DestAirportSeqID', 'DestCityMarketID', 'Dest',
       'DestCityName', 'DestState', 'DestStateFips', 'DestStateName',
       'DestWac', 'CRSDepTime', 'DepTime', 'DepDelay', 'DepDelayMinutes',
       'DepDel15', 'DepartureDelayGroups', 'DepTimeBlk', 'TaxiOut',
       'WheelsOff', 'WheelsOn', 'TaxiIn', 'CRSArrTime', 'ArrTime', 'ArrDelay',
       'ArrDelayMinutes', 'ArrDel15', 'ArrivalDelayGroups', 'ArrTimeBlk',
       'Cancelled', 'Diverted', 'CRSElapsedTime', 'ActualElapsedTime',
       'AirTime', 'Flights', 'Distance', 'DistanceGroup'],
      dtype='object')

In [31]:
df.head().T

,0,1,2,3,4
Year,1998,2013,1993,1994,2017
Quarter,2,2,3,4,3
Month,4,5,9,11,8
DayofMonth,2,13,25,12,17
DayOfWeek,4,1,6,6,4
FlightDate,1998-04-02,2013-05-13,1993-09-25,1994-11-12,2017-08-17
Reporting_Airline,AS,EV,UA,HP,UA
DOT_ID_Reporting_Airline,19930,20366,19977,19991,19977
IATA_CODE_Reporting_Airline,AS,EV,UA,HP,UA
Tail_Number,N785AS,N24103,NaN,NaN,N827UA
Flight_Number_Reporting_Airline,584,4132,2206,1207,576
OriginAirportID,11884,11618,14108,12892,11003
OriginAirportSeqID,1188401,1161802,1410801,1289201,1100303
OriginCityMarketID,31884,31703,34108,32575,31003
Origin,GEG,EWR,PIA,LAX,CID
OriginCityName,"Spokane, WA","Newark, NJ","Peoria, IL","Los Angeles, CA","Cedar Rapids/Iowa City, IA"
OriginState,WA,NJ,IL,CA,IA
OriginStateFips,53.0,34.0,17.0,6.0,19.0
OriginStateName,Washington,New Jersey,Illinois,California,Iowa
OriginWac,93,21,41,91,61
DestAirportID,14747,14524,13930,14107,11292
DestAirportSeqID,1474702,1452401,1393001,1410701,1129202
DestCityMarketID,30559,34524,30977,30466,30325
Dest,SEA,RIC,ORD,PHX,DEN
DestCityName,"Seattle, WA","Richmond, VA","Chicago, IL","Phoenix, AZ","Denver, CO"
DestState,WA,VA,IL,AZ,CO
DestStateFips,53.0,51.0,17.0,4.0,8.0
DestStateName,Washington,Virginia,Illinois,Arizona,Colorado
DestWac,93,38,41,81,82
CRSDepTime,1330,1301,1650,1245,755
DepTime,1330.0,1255.0,1723.0,1309.0,746.0
DepDelay,0.0,-6.0,33.0,24.0,-9.0
DepDelayMinutes,0.0,0.0,33.0,24.0,0.0
DepDel15,0.0,0.0,1.0,1.0,0.0
DepartureDelayGroups,0.0,-1.0,2.0,1.0,-1.0
DepTimeBlk,1300-1359,1300-1359,1600-1659,1200-1259,0700-0759
TaxiOut,8.0,9.0,NaN,NaN,8.0
WheelsOff,1338.0,1304.0,NaN,NaN,754.0
WheelsOn,1415.0,1358.0,NaN,NaN,836.0
TaxiIn,5.0,13.0,NaN,NaN,8.0
CRSArrTime,1426,1423,1730,1457,902
ArrTime,1420.0,1411.0,1815.0,1538.0,844.0
ArrDelay,-6.0,-12.0,45.0,41.0,-18.0
ArrDelayMinutes,0.0,0.0,45.0,41.0,0.0
ArrDel15,0.0,0.0,1.0,1.0,0.0
ArrivalDelayGroups,-1.0,-1.0,3.0,2.0,-2.0
ArrTimeBlk,1400-1459,1400-1459,1700-1759,1400-1459,0900-0959
Cancelled,0.0,0.0,0.0,0.0,0.0
Diverted,0.0,0.0,0.0,0.0,0.0
CRSElapsedTime,56.0,82.0,40.0,72.0,127.0
ActualElapsedTime,50.0,76.0,52.0,89.0,118.0
AirTime,37.0,54.0,NaN,NaN,102.0
Flights,1.0,1.0,1.0,1.0,1.0
Distance,224.0,277.0,130.0,370.0,692.0
DistanceGroup,1,2,1,2,3

In [32]:
def compute_info(airline_data, entered_year):
    # Select data
    df =  airline_data[airline_data['Year']==int(entered_year)]
    # Compute delay averages
    avg_car = df.groupby(['Month','Reporting_Airline'])['CarrierDelay'].mean().reset_index()
    avg_weather = df.groupby(['Month','Reporting_Airline'])['WeatherDelay'].mean().reset_index()
    avg_NAS = df.groupby(['Month','Reporting_Airline'])['NASDelay'].mean().reset_index()
    avg_sec = df.groupby(['Month','Reporting_Airline'])['SecurityDelay'].mean().reset_index()
    avg_late = df.groupby(['Month','Reporting_Airline'])['LateAircraftDelay'].mean().reset_index()
    return avg_car, avg_weather, avg_NAS, avg_sec, avg_late